<div class="row">
    <div class="col-xs-12 col-sm-3">
        <img ng-src="{{::item.photo}}" class="img-responsive">
    </div>
    <div class="col-xs-12 col-sm-9">
        <h1> {{::item.name}}</h1>
        <p>
            {{::item.brand}}
        </p>
        <div class="row">
            <div class="col-xs-6">
                {{::item.price}}
            </div>
            <div class="col-xs-6">
                <div class="text-right">
                    <audio controls>
                        <source src="{{::item.audio_url">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>
        <p> {{::item.description}}</p>
    </div>
</div>
